// Variables
$dark-orange: hsl(22, 89%, 52%);
$light-orange: hsl(22, 100%, 69%);
$dark-blue: hsl(220, 50%, 17%);
$medium-blue: hsl(221, 23%, 58%);
$light-blue: hsl(198, 28%, 93%);
$real-white: hsl(0, 0%, 100%);